<%= render 'shared/errors', obj: @article %>
<div class="row">
  <%= form_for(@article) do |f| %>
    <div class="form-group">
      <%= f.label :title %>
      <%= f.text_field :title, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :body %>
      <%= f.text_area :body, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= hidden_field_tag "article[topic_ids][]", nil %>
      <% Topic.all.each do |topic| %>
        <%= check_box_tag "article[topic_ids][]", topic.id, @article.topic_ids.include?(topic.id), id: topic.id %>
        <%= label_tag topic.id, topic.name %><br>
      <% end %>
    </div>
    <div class="form-group">
      <%= f.submit class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>
  