<%= render "/layouts/navbar" %>

<div class="text-over-image">
  <div class="container">
    <div class="col-xs-12">
      <h1 align="center">
        I'm Shawn Carnegie
      </h1>
      <h2 align="center">
        Self taught aspiring web developer
      </h4>
    </div>
  </div>
</div>

<div class="darken">
</div>

<section class="nepal">
  <%= image_tag("nepal.jpg") %>
</section>

<section id="Projects">
  <div class="container">
    <div class="col-xs-12">
      <h1>Projects</h1>
      <%= render "/projects/index" %>
    </div>
  </div>
</section>

<% unless @articles.last.nil? %>
  <section id="Blog">
    <div class="container">
      <div class="col-xs-12">
        <h1>Latest Blog Post</h1>
        <h3>
          <%= link_to @articles.last.title, 
              article_path(@articles.last.title.tr(' ', '-')) %>
        </h3>
      </div>
    </div>
  </section>
<% end %>

<section id="Footer">
  <div class="container">
    <div class="col-xs-12 col-md-4 text-center">
      <%= image_tag("avatar.jpg", class: "img-circle")%>
    </div>
    <div class="col-xs-12 col-md-4 text-center">
      <h2>About me</h2>
      <p>
        Recently I discovered that I am much more passionate towards programming 
        than I ever was in mechanical engineering with my degree.  I chose web devlopment
        as I love an industry in which I can easily find information, I am motivated to 
        improve myself every day, and I can present my work to the world.
      </p>
    </div>
    <div class="col-xs-12 col-md-4 text-center">
      <h2>Where to find me</h2>
      <div class="row">
        <%= link_to "https://ca.linkedin.com/in/shawn-carnegie-90966742" do %>
          <i class="fa fa-linkedin"></i>
        <% end %>
      </div>
      <div class="row">
        <%= link_to "https://github.com/Exellin" do %>
          <i class="fa fa-github"></i>
        <% end %>
      </div>
    </div>
  </div>
</section>
