<%= render 'shared/errors', obj: @tag %>
<div class="row">
  <%= form_for(@tag) do |f| %>
    <div class="form-group">
      <%= f.hidden_field(:project_id, :value => params[:project_id]) %>
    </div>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.submit class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>